<!DOCTYPE HTML>
{% load static %}
{% static "images/amostras" as urlamostra %}

<html>
	<head>
		<title>LiMatch Web</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" type="image/ico" href="static/images/lima.png" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Header -->
			<section id="header">
				<header>
					<h1>Classificação de limas Tahiti utilizando visão computacional</h1>
				</header>
			</section>

		<!-- Banner -->
			<section id="banner">
				<header>
					<h2>Bem vindo ao LiMatch!</h2>
				</header>
				<p> Precisamos da sua ajuda para aprimorar nossa inteligência artificial.
					<br>Posso contar com você?</p>
				<footer>
					<a href="#DadosCadastrais" class="button style2 scrolly">Vamos lá !</a>
				</footer>
			</section>

		<!-- Dados Cadastrais -->
				<article id="DadosCadastrais" class="container box style3">
					<header>
				   		<h2>Quem é você?</h2>
						<p>Já vamos começar! Mas, antes preciso de alguns dados seus.<br/> Vai ser rapidinho!</p>
					</header>
					<form method="post" action="classificar" >
						{% csrf_token %}
						<div class="row">
								<div class="col-6 col-12-mobile">
									<input class="text" type="text" name="name" id="name" value="" placeholder="Nome Completo" />
								</div>
								<div class="col-6 col-12-mobile">
									<input class="text" type="text" name="email" id="email" value="" placeholder="Email" />
								</div>
								<div class="col-12">
									<select name="cargo" id="cargo">
										<option value="">Atua como</option>
										<option value="ET">Estudante</option>
										<option value="PF">Professor</option>
										<option value="TI">TI</option>
										<option value="OT">Outros</option>
									</select>
								</div>

						<br>
						<div class="col-12">
								<ul class="actions">
									<li><input type="submit" value="Feito!" class="button style1 scrolly"/></li>
								</ul>
						</div>
						</div>

					</form>
				</article>

		<section id="footer">
			<ul class="icons">
				<li><a href="https://drive.google.com/file/d/1WwUvewDIEDqFxQVVpIpSRLb0KvzUt4SF/view?usp=sharing" class="icon brands fa-google-drive"><span class="label">Google Drive</span></a></li>
				<li><a href="https://github.com/ellengiacometti/LemonCV" class="icon brands fa fa-github"><span class="label">GitHub</span></a></li>
			</ul>
			<div class="copyright">
				<ul class="menu">
					<li> All rights reserved.</li><li>Design based on: <a href="http://html5up.net">HTML5 UP</a></li><li>Edited by: Ellen Giacometti</li>
				</ul>
			</div>
		</section>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/jquery.poptrox.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>

	</body>
</html>